.compositeAvatar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.384);
}

.avatar {
    position: absolute;
    object-fit: cover;
    border: 1px solid white; /* Optional: for separation */
}

.avatar1 {
    top: 0;
    left: 0;
}

.avatar2 {
    top: 0;
    left: 50%;
}

.avatar3 {
    top: 50%;
    left: 0;
}

.avatar4 {
    top: 50%;
    left: 50%;
}
